:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --header-height: 120px;
    --navbar-height: 30px;
    --header-with-search: calc(var(--header-height) - var(--navbar-height));

}

* {
    box-sizing: inherit;
    text-decoration: none;
    list-style: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}


/* Responsive */
.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

.grid__full-width {
    width: 100%;
}

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 16.6667%;
}

.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3333%;
}

.grid__column-2-4 {
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}

/* Animation */
@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(0.7);
    }
    to {
        transform: scale(1);
    }
}

/* Modal layout */
.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    animation: fade linear 0.2s;
    display: none;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.35);
}

.modal__body {
    position: relative;
    margin: auto;
    animation: growth linear 0.2s;
}

/* Authen modal register*/
.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 4px;
}

.auth-form__container {
    padding: 40px 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    padding-bottom: 50px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 500;
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-bottom: 18px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
}

.auth-form__aside {
    margin-top: 10px;
}

.auth-form__policy-text {
    font-size: 1.3rem;
    line-height: 1.7rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    color: var(--primary-color);
}

.auth-form__controls {
    display: flex;
    justify-content: flex-end;
    margin-top: 40px;
}

.auth-form__control-back {
    margin-right: 10px;
}

/* Button style */
.btn {
    text-decoration: none;
    border: none;
    border-radius: 2px;
    min-width: 142px;
    height: 36px;
    font-size: 1.4rem;
    color: var(--text-color);
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: var(--white-color);
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.bt--size-s {
    height: 32px;
    font-size: 1.2rem;
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--primary:hover {
    opacity: .9;
}

.btn.btn--disable {
    color: #949494;
    cursor: default;
    background-color: #c3c3c3;
}

.auth-form__socials {
    display: flex;
    justify-content: space-between;
    padding: 16px 30px;
    background-color: #d2d1d166;
}

.auth-form__socials-facebook {
    padding: 0 20px;
    font-size: 1.4rem;
    background-color: #3A5A98;
    color: var(--white-color);
    border-radius: 4px;
}

.auth-form__socials-google {
    background-color: var(--white-color);
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 0 20px;
    border-radius: 4px;
}

.auth-form__socials-facebook .auth-form__socials-icon {
    font-size: 1.8rem;
    color: var(--white-color);
    margin-right: 10px;
}

.auth-form__socials-google .auth-form__socials-icon {
    font-size: 1.8rem;
    margin-right: 10px;
}

/* Selection */
.select-input {
    position: relative;
    min-width: 200px;
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: var(--white-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.select-input:hover .select-input__list {
    display: block;
}

.select-input__label {
    font-size: 1.4rem;
}

.select-input__icon {
    cursor: pointer;
    padding: 6px 4px 6px 6px;
    font-size: 1.6rem;
    color: rgb(131,131,131);
    position: relative;
    top: 1px;
}

.select-input__list {
    position: absolute;
    z-index: 1;
    top: 38px;
    left: 0;
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 16px;
    display: none;
}

.select-input__list::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 40px;
    top: -20px;
    right: 0;
}

.select-input__item:hover .select-input__link {
    color: var(--primary-color);
}

.select-input__link {
    font-size: 1.3rem;
    color: var(--text-color);
    display: block;
    padding: 12px 0;
}

/* Pagination */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-item {
    margin: 0 12px;
}

.pagination-item__link {
    --height: 30px;
    display: block;
    color: #939393;
    font-size: 1.6rem;
    min-width: 40px;
    height: var(--height);
    text-align: center;
    line-height: var(--height);
    border-radius: 2px;
}

.pagination-item__link:hover {
    opacity: 0.9;
}

.pagination-item--active
.pagination-item__link {
    background-color: var(--primary-color);
    color: var(--white-color);
}

.pagination-item__link-icon {
    font-size: 1.7rem;
}